---
layout: default
width:
  - col-xs-12
  - col-md-11 col-md-offset-1
  - col-lg-10
sections:

  - title: Projects
    link: "#projects"

  - title: All Things Emacs
    link: "#emacs"

  - title: Contact Me
    link: "#contact"

---

<div class="container-fluid">

  <!-- ========== PORTOFOLIO SECTION ========== -->
  <div class="row sect">
    <div id="projects" class="{{ page.width | join: ' ' }}">
      <div class="page-header">
        <h2>
          PROJECTS
        </h2>
      </div>

      <h3>JPhantom</h3>

      {% for paper in site.data.publications %}
        {% if paper.doi == '2509136.2509530' %}
          {% assign jphantom_paper = paper %}
        {% endif %}
      {% endfor %}

      <p>Many static analysis tools assume that the <em>whole
        program</em> will be available, in order to analyze it. In
        practice, however, that is rarely the case, and there are many
        times that you are stuck with a program which you are able to
        run, but not analyze (due to some missing code of some library
        that you don't actually need)!
      </p>

      <p><a href="https://github.com/gbalats/jphantom">JPhantom</a>
        tries to deal with this problem for Java, while being agnostic
        to the actual tool that will perform the static analysis. It
        applies a preprocessing step that detects phantom code and
        replaces it with dummy code, thus producing
        a <em>complete</em> program that should be now analyzable.
      </p>

      <p>The real challenge of this task is the various type
        constraints that the final program (plus its dummy complement)
        must satisfy in order to form
        valid <a href="http://en.wikipedia.org/wiki/Java_bytecode">Java
        bytecode</a>. You can read more about it
        <a target="_blank" href="{{ jphantom_paper.pps_link }}">here</a>
        and <a href="{{ jphantom_paper.pdf_link }}">here</a>.
      </p>

      <p>Currently, JPhantom is being used by
        <a href="http://doop.program-analysis.org/">Doop</a> and
        <a href="https://github.com/cuplv/droidel">Droidel</a>.
      </p>


      <h3>CCLYZER</h3>

      <p>This project is still at its early stages but, in the long
        run, it aims to host various analyses written in Datalog for
        C/C++ programs, or generally any LLVM bitcode generating
        language. Right now it provides a context-insensitive pointer
        analysis and is able to recover most of the C++ source
        information, like v-tables, class hierarchy, etc, and resolve
        virtual calls with reasonable precision.
      </p>

      <p>Even though the project is open source
        and <a href="https://github.com/plast-lab/cclyzer">hosted on
        github</a>, it requires
        either <a href="http://snf-705535.vm.okeanos.grnet.gr/agreement.html">PA-Datalog</a>
        or the original
        (proprietary) <a href="http://www.logicblox.com/">LogicBlox
        Engine</a> to run.
      </p>

      <p>
        There is also a
        <a href="{{ page.cclyzer.link }}" data-toggle="modal" data-target="#cclyzerModal">
          presentation
        </a>
        about the basic ideas behind cclyzer's design and modeling of
        its pointer analysis.
      </p>

      <!-- cclyzer presentation -->
      <div class="modal fade" id="cclyzerModal" aria-hidden="true">
        <div class="modal-dialog">
          <iframe src="{{ page.cclyzer.embed }}" frameborder="0"
                  allowfullscreen="true" mozallowfullscreen="true"
                  webkitallowfullscreen="true">
          </iframe>
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>   <!-- /#portfolio -->
  </div> <!-- /.sect -->


  <!-- ================= EMACS SECTION ====================== -->
  <div class="row sect">
    <div id="emacs" class="{{ page.width | join: ' ' }}">
      <div class="page-header">
        <h2>ALL THINGS EMACS</h2>
      </div> <!-- /.page-header -->

      <h3>Automatic Bytecode Disassembly</h3>
      <p>Program analysis often requires manual inspection of
        not just the source code but the actual IR that is
        passed to the static analysis tool. Most of the times
        this intermediate representation is a compressed
        format such as Java bytecode.
      </p>
      <p> Thus, to open an Emacs buffer containing Java
        bytecode for instance, one first needs to run a
        command that disassembles the file, and then he may
        open its disassembled contents.
      </p>
      <p>Things are even worse when such a file is part of an
        archive (e.g., inside a jar file). Then you have to
        extract it first too.
      </p>

      <p>This is a task that can be easily automated by emacs,
        assuming your system is properly configured and the
        actual disassembler commands are included in your PATH
        (e.g., javap).
      </p>

      <p>To that end, I wrote these two simple Emacs
        extensions that handle the task for (i)
        <a href="https://github.com/gbalats/autodisass-java-bytecode">
          Java Bytecode
        </a> and (ii)
        <a href="https://github.com/gbalats/autodisass-llvm-bitcode">
          LLVM Bitcode
        </a>.
      </p>

      <h3>LB Datalog Mode</h3>
      <p>Since most of the static analysis tools I have been working
      on use
      the <a href="http://en.wikipedia.org/wiki/Datalog">Datalog</a>
      language, and more specifically, the
      (proprietary) <a href="http://www.logicblox.com/">LogicBlox
      Engine</a>, I have been maintaining an
        <a href="https://github.com/gbalats/lb-datalog-mode">
          Emacs mode
        </a> for this exact version of Datalog.
      </p>

      <p>It mainly provides highlighting and indentation at the
      moment, but I will be pushing some new features from time to
      time.
      </p>

      <h4>Added Feature Updates:</h4>
      <ol>
        <li>
          Comment *Do What I Mean* plus movement commands (by clause or atom).
        </li>
        <li>
          Better integration with the <code>*compilation*</code>
          buffer.
        </li>
        <li>
          <a href="https://github.com/magnars/expand-region.el">Expand-region</a>
          support (clause expansion).
        </li>
        <li>
          Workspace specific commands (attaching to a workspace,
          adding logic, or performing a query).
        </li>
        <li>
          Some custom <a href="https://github.com/capitaomorte/yasnippet">snippets</a>.
        </li>
      </ol>

    </div><!-- /emacs -->
  </div><!-- /.sect -->

  <!-- ========== CONTACT SECTION ========== -->
  <div class="row sect">
    <div id="contact" class="{{ page.width | join: ' ' }}">
      <div class="page-header">
        <h2>CONTACT ME</h2>
      </div>

      <p></p>
      <h3>
        Working Address
        <small>
          <!-- Button trigger map modal -->
          <a type="button" class="btn" data-toggle="modal"
             data-lat="37.968614, 23.766971" data-target="#uoaMapModal">
            Click to open map
          </a>
        </small>
      </h3>

      <address>
        Dept. of Informatics and Telecommunications<br/>
        National and Kapodistrian University of Athens<br/>
        Ilisia, 15784, Greece
      </address>

      <!-- Google Map -->
      <div class="modal fade" id="uoaMapModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <!-- Close button -->
              <button type="button" class="close" data-dismiss="modal">×</button>
              <!-- Title -->
              <h3 class="modal-title">
                Dept. of Informatics and Telecommunications<br/>
                University of Athens
              </h3>
            </div>
            <div class="modal-body">
              <!-- Map -->
              <div id="mapCanvas" style="width: 500px; height: 400px"></div>
            </div>
            <div class="modal-footer">
              <!-- Another close button -->
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>   <!-- /#contact -->
  </div> <!-- /.sect -->
</div><!-- /.container-fluid -->
