<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico?">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">

  <!-- Font-awesome CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

  <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>


  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700"
        rel="stylesheet" type="text/css">

  <!-- <link href="https://fonts.googleapis.com/css?family=Quattrocento:400,700" -->
  <!--       rel="stylesheet" type="text/css"> -->

  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,700,900"
        rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=PT+Sans"
        rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
