<!-- Sidebar -->
<div id="theMenu">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <h1 class="logo"><a href="#">{{ site.author }}</a></h1>
    </li>
    {% for section in page.sections %}
    <li>
      {% assign prefix = section.link |  split: "#" | first %}
      {% if prefix == "" %}
        <a data-scroll href="{{ section.link }}">{{ section.title }}</a>
      {% else %}
        <a href="{{ section.link }}">{{ section.title }}</a>
      {% endif %}
    </li>
    {% endfor %}

  </ul>

  <!-- Toggle Menu button -->
  <div class="fixed-menu-toggle-wrapper">
    <div id="menu-toggle">
      <i class="fa fa-reorder"></i>
    </div>
  </div>
</div><!-- /#theMenu -->
