/**
 * Sections
 */
.sect {
    padding-bottom: $spacing-unit * 2;

    h1 {
        font-size: $heading-font-size * 2;
        margin-bottom: 0;
    }

    h2 {
        color: black;
        font-size: $heading-font-size * 1.5;
        margin-bottom: 0;
        letter-spacing: 1px;
    }

    h3 {
        font-size: $heading-font-size * 1.17;
        font-weight: 400;
        margin-bottom: 1em;
    }

    h4 {
        font-family: $base-font-family;
        font-size: 1em;
        margin-bottom: 1.33em;
    }

    h5 {
        font-family: $base-font-family;
        font-size: .83em;
        margin-bottom: 1.67em;
    }

    h6 {
        font-family: $base-font-family;
        font-size: .67em;
        margin-bottom: 2.33em;
    }

    p ~ h3 {
        padding-top: $spacing-unit;
    }

    p ~ h4 {
        padding-top: $spacing-unit / 2;
    }
}


.page-header {
    border-bottom-color: black;
}


#cclyzerModal {
    .modal-dialog {
        width: 1200px;
        height: 704px;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

/* #headerwrap { */
/*  background: url(../img/header-bg.jpg) no-repeat center top; */
/*  margin-top: -10px; */
/*  padding-top:20px; */
/*  text-align:center; */
/*  background-attachment: relative; */
/*  background-position: center center; */
/*  min-height: 700px; */
/*  width: 100%; */
    
/*     -webkit-background-size: 100%; */
/*     -moz-background-size: 100%; */
/*     -o-background-size: 100%; */
/*     background-size: 100%; */

/*     -webkit-background-size: cover; */
/*     -moz-background-size: cover; */
/*     -o-background-size: cover; */
/*     background-size: cover; */
/* } */

/* #headerwrap h1 { */
/*  margin-top: 150px; */
/*  color: white; */
/*  font-size: 70px; */
/*  font-weight: 700; */
/* } */

/* #headerwrap h3 { */
/*  color: white; */
/*  font-size: 30px; */
/*  font-weight: 100; */
/*     font-family: 'EB Garamond', serif; */
/*     font-style: oblique; */
/* } */

/* #headerwrap .logo { */
/*  text-align: left; */
/*  margin-left: 20px; */
/*  margin-top: 15px; */
/* } */




/* /\** */
/*  * Site header */
/*  *\/ */
/* .site-header { */
/*     border-top: 5px solid $grey-color-dark; */
/*     border-bottom: 1px solid $grey-color-light; */
/*     min-height: 56px; */

/*     // Positioning context for the mobile navigation icon */
/*     position: relative; */
/* } */

/* .site-title { */
/*     font-size: 26px; */
/*     line-height: 56px; */
/*     letter-spacing: -1px; */
/*     margin-bottom: 0; */
/*     float: left; */

/*     &, */
/*     &:visited { */
/*         color: $grey-color-dark; */
/*     } */
/* } */

/* .site-nav { */
/*     float: right; */
/*     line-height: 56px; */

/*     .menu-icon { */
/*         display: none; */
/*     } */

/*     .page-link { */
/*         color: $text-color; */
/*         line-height: $base-line-height; */

/*         // Gaps between nav items, but not on the first one */
/*         &:not(:first-child) { */
/*             margin-left: 20px; */
/*         } */
/*     } */

/*     @include media-query($on-palm) { */
/*         position: absolute; */
/*         top: 9px; */
/*         right: 30px; */
/*         background-color: $background-color; */
/*         border: 1px solid $grey-color-light; */
/*         border-radius: 5px; */
/*         text-align: right; */

/*         .menu-icon { */
/*             display: block; */
/*             float: right; */
/*             width: 36px; */
/*             height: 26px; */
/*             line-height: 0; */
/*             padding-top: 10px; */
/*             text-align: center; */

/*             > svg { */
/*                 width: 18px; */
/*                 height: 15px; */

/*                 path { */
/*                     fill: $grey-color-dark; */
/*                 } */
/*             } */
/*         } */

/*         .trigger { */
/*             clear: both; */
/*             display: none; */
/*         } */

/*         &:hover .trigger { */
/*             display: block; */
/*             padding-bottom: 5px; */
/*         } */

/*         .page-link { */
/*             display: block; */
/*             padding: 5px 10px; */
/*         } */
/*     } */
/* } */



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/* /\** */
/*  * Page content */
/*  *\/ */
/* .page-content { */
/*     padding: $spacing-unit 0; */
/* } */

/* .page-heading { */
/*     font-size: 20px; */
/* } */

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

%post-heading-style {
    border-bottom: 1px solid #eee;
    border-bottom-color: black;
    padding-bottom: $spacing-unit / 2;
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit * 1.5;
    line-height: 1.3;
}

.post-header {
}

.post-content {
    margin-bottom: $spacing-unit;

    h2.post-title {
        @extend %post-heading-style;
        @include headingfont(2.1, 3.6);

        color: black;
        letter-spacing: -1px;
    }

    h2 {
        @extend %post-heading-style;
        @include headingfont(1.6, 1.4);

        color: black;
        letter-spacing: 1px;
    }

    h3 {
        @extend %post-heading-style;
        @include headingfont(1.3, 1.1);
    }

    h4 {
        @extend %post-heading-style;
        @include headingfont(1, 0.9);
    }
}
